<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Wine Guesser</title>
</head>
<body>
<main layout:fragment="content">

    <div class="text-scale">
        <div id="stats-area">
            <h1 th:text="'Gissa Vinet'"></h1>
            <h2 th:text="'RiojaKlubben'"></h2>
            <br>
            <div>
                <h3>Historiskt sett så har det varit svårt och bökigt att arrangera</h3>
                <h3>vinprovningar, speciellt om man vill försöka göra en tävling av det hela.</h3>
                <h3>Idag finns det väldigt mycket information till hands på internet, vilket</h3>
                <h3>tillsammans med teknikens framfart medfört nya möjligheter.</h3>
                <br>
                <h3>Vi i Rioja Klubben har utvecklat denna app för att göra det enklare och</h3>
                <h3>roligare att arrangera och tävla inom i vinprovning.</h3>
                <h3>Här erbjuder vi hjälp att förbereda arbetet genom att ta fram QR koder</h3>
                <h3>med tydliga instruktioner så att det går enkelt att arrangera utan fusk.</h3>
                <br>
                <h3>När gästerna är på plats erbjuder vi också ett spelrum där vinprovarna</h3>
                <h3>kan läsa dofter, smaker, ge betyg och gissa vilket vin som är vilket.</h3>
                <h3>När alla har provat klart sparas provnings och spelarhistorik så att</h3>
                <h3>man vet hur lägget ligger till inför nästa provning.</h3>
                <br>
                <h3>Låt Bacchus vara med er!</h3>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</main>
</body>
</html>