<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Wine Guesser</title>
</head>
<body>
<main layout:fragment="content">

    <div class="text-scale">
        <div id="stats-area">
            <h1 th:text="'Gissa Vinet'"></h1>
            <h2 th:text="'RiojaKlubben'"></h2>
            <br>
            <div>
                <h3>Tempranillodruva, tegelröd färg, vanilj samt utvecklad smak med fatkaraktär…
                    Detta är några kännetecken för vårt favoritvin; Rioja!
                    <br>
                    <br>
                    För över tjugo år sedan började vår passion för vin och sedan dess har vi arrangerat hemmaprovningar där vi doftat och smakat oss igenom en värld av Riojor och andra ädla viner.
                    <br>
                    <br>
                    Genom åren har vi i utvecklat våra provningar och skapat oss ett eget koncept. Med ett tävlingsmoment där vinbeskrivningar matchas till respektive vin, har vi gjort
                    provningarna till en härlig upplevelse för såväl finsmakaren som tävlingsmänniskan. Vi vill nu dela med oss av denna provingsglädje och har därför utvecklat Gissa Vinet, så att även ni kan prova vin på ett smidigt och underhållande vis.
                    <br>
                    <br>
                    Med hjälp av QR-koder och tydliga instruktioner är det lätt att skapa en provning med flertalet viner. Med medlemskap i en vinklubb kan ni dessutom samla historik över resultatet och dryckerna, vilket ger er en klar översikt inför nästa provning.
                    <br>
                    <br>
                    Så samla familj och vänner för en välsmakande kväll av vin, gemenskap och tävlingsanda. Med skicklighet och en aning tur kanske du vinner och kröns som Bacchus- vinets gud!
                    <br>
                    <br>
                    <br>
                    Mycket nöje och lycka till med er provning!
                    <br>
                    Låt Bacchus vara med er!
                    <br>
                    <br>
                    Varma hälsningar,
                    <br>
                    Familjerna Hellström-Karlsson, Toppar & Andersson-Kasurinen
                    (RiojaKlubben)
                </h3>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</main>
</body>
</html>