<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Wine Guesser</title>
</head>
<body>
<main layout:fragment="content">

    <div class="text-scale">

        <h1 th:text="${clubForm.clubStats.clubDTO.clubName}"></h1>
        <br>
        <h2>Klubbsida</h2>
        <img id="clubList-logo" src="../resources/images/clubIcon.png" alt="club standard logo" width="120px" height="120px">
        <br>
        <br>
        <div id="clubData-password" >
            <h3 th:text="'Klubblösenord: ' + ${clubForm.clubStats.clubDTO.clubPassword}"></h3>
        </div>
        <br>
        <div id="clubData-area">
            <h2>Statistik:</h2>
            <div id="clubData-soloData-box">
                <div id="clubData-numberOfTastings" >
                    <h3 th:text="'Antalet totalt provade viner: ' + ${clubForm.clubStats.clubDTO.numberOfTastings}"></h3>
                </div>
                <div id="clubData-averageWineCorrect" >
                    <h3 th:text="'Medlemmarnas andel korrekt: ' + ${clubForm.clubStats.clubDTO.averageWineCorrect}"></h3>
                </div>
            </div>
            <br>
            <ul id="clubData-memberList-area">
                <h2>Medlemmslista:</h2>
                <li id="clubData-memberList-box" th:each="member, var : *{clubForm.clubStats.memberList}">
                    <h3><a id="clubData-memberList-username" th:href="'../profile/' + ${member}" th:text="${member}"/></h3>
                </li>
            </ul>
            <br>
            <br>
            <br>
            <ul id="clubData-wineStat-area">
                <h2>Vinlista:</h2>
                <li id="clubData-wineStat-box" th:each="clubWineStatDTO, var : *{clubForm.clubStats.wineStats}">
                    <h3><a id="clubData-wineStat-wineName" th:href="${clubWineStatDTO.wineUrl}" th:text="${clubWineStatDTO.wineName}"/></h3>
                    <h3 th:text="'Totala antalet serveringar: ' + ${clubWineStatDTO.numberOfServings}"></h3>
                    <h3 th:text="'Totala medelbetyget: ' + ${clubWineStatDTO.averageGrade}"></h3>
                </li>
                <form id="bot" action="../clubOption">
                    <button type="submit" onclick="return confirm('Are you sure?');">Lämna klubben </button>
                </form>
            </ul>
            <br>
            <br>
        </div>

    </div>

</main>
</body>
</html>