<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Wine Guesser</title>
</head>
<body>
<main layout:fragment="content">

    <div class="text-scale">

        <h1 th:text="${clubForm.clubStats.clubDTO.clubName}"></h1>
        <br>
        <h2>Klubbsida</h2>
        <a th:href="${clubForm.clubStats.clubDTO.clubName}"><img id="clubList-logo" src="../resources/images/clubIcon.png" alt="club standard logo"></a>
        <br>
        <br>
        <div id="clubData-password" >
            <h3 th:text="'Klubblösenord: ' + ${clubForm.clubStats.clubDTO.clubPassword}"></h3>
        </div>
        <br>
        <div id="clubData-area">
            <h2>Statistik:</h2>
            <div id="clubData-soloData-box">
                <div id="clubData-numberOfTastings" >
                    <h3 th:text="'Vinprovningar: ' + ${clubForm.clubStats.clubDTO.numberOfTastings}"></h3>
                </div>
                <div id="clubData-averageWineCorrect" >
                    <h3 th:text="'Korrekta gissningar: ' + ${clubForm.clubStats.clubDTO.averageWineCorrect}+'%'"></h3>
                </div>
            </div>
            <br>
            <ul id="clubData-memberList-area">
                <h2>Medlemslista:</h2>
                <li id="clubData-memberList-box" th:each="member, var : *{clubForm.clubStats.memberList}">
                    <h3 th:if="${member.isBacchus == 'true'}">
                        <img id="bacchus-logo" src="../resources/images/bacchus.png" alt="bacchus standard logo">
                        <a id="clubData-memberList-username" th:href="'../profile/' + ${member.username}" th:text="${member.username}"/>
                    </h3>
                    <h3 th:if="${member.isBacchus == 'false'}">
                        <a id="clubData-memberList-username" th:href="'../profile/' + ${member.username}" th:text="${member.username}"/>
                    </h3>
                </li>
            </ul>
            <br>
            <br>
            <br>
            <ul id="clubData-wineStat-area">
                <h2>Provade viner:</h2>
                <li id="clubData-wineStat-box" th:each="clubWineStatDTO, var : *{clubForm.clubStats.wineStats}">
                    <h3><a id="clubData-wineStat-wineName" th:href="${clubWineStatDTO.wineUrl}" th:text="${clubWineStatDTO.wineName}"/></h3>
                    <h3 th:text="'Totala antalet serveringar: ' + ${clubWineStatDTO.numberOfServings}"></h3>
                    <h3 th:text="'Totala medelbetyget: ' + ${clubWineStatDTO.averageGrade}"></h3>
                </li>
                <br>
                <br>
                <form id="bot" action=# th:action="@{/club}" th:object="${clubForm}" method="post">
                    <input type="hidden" name="clubId" th:value="${clubForm.clubStats.clubDTO.clubId}">
                    <button id="leave-club-button" type="submit" onclick="return confirm('Är du säker, vill du verkligen lämmna klubben och svika Bacchus!?');">Lämna klubben </button>
                </form>
            </ul>
            <br>
            <br>
        </div>
    </div>

</main>
</body>
</html>