<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Wine Guesser</title>
</head>
<body>
<main layout:fragment="content">

    <div>
        <h2>I denna nerfällbara meny finns alla regionerna som dom inskriva vinerna kommer ifrån.</h2>
        <h3>Här kan man välja en region som man kan gissa på under vinprovningen för extra poäng</h3>
    </div>
    <br>
    <form action="#" th:action="@{/enterRegion}" th:object="${enterRegionForm}" method="post">
        <button id="bot" type="submit">Hoppa Över</button>
    </form>
    <br>
    <br>
    <form action="#" th:action="@{/enterRegion}" th:object="${enterRegionForm}" method="post">
        <select class="select-css" th:field="*{chosenRegion}">
            <option th:each="region : ${enterRegionForm.regions}"
                    th:value="${region}"
                    th:text="${region}">
            </option>
        </select>
        <br>
        <br>
        <br>
        <br>
        <button id="bot" type="submit">Lås in Region</button>
    </form>
</main>
</body>
</html>