<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Wine Guesser</title>
</head>
<body>
<main layout:fragment="content">

    <form class="logoutButton" th:action="@{/logout}" method="post">
        <button type="submit">Sing Out</button>
    </form>

    <div th:unless="${missingDecData.missing}">
        <h2>Enter the links to the wines you plan to serve.</h2>
        <h3>Url must be from http://www.bodegashop.com...</h3>
        <br>
        <form action="#" th:action="@{/enterUrl}" th:object="${enterUrlForm}" method="post">
            <div th:each="String, var : *{urlList}">
                <input type="text" placeholder="http://www.bodegashop.com" th:field="*{urlList[__${var.index}__]}" />
            </div>
            <div>
                <span class="error"
                      th:if="${#fields.errors('urlList')}"
                      th:errors="*{urlList}">
                </span>
            </div>
            <br>
        <button id="bot" type="submit">Continue</button>
        </form>
    </div>

    <div th:if="${missingDecData.missing}">
        <h2>Ops!</h2>
        <h3>We could not find a description for one or more of the wines</h3>
        <h3>that you entered. Namely: </h3>
        <br>
        <div th:each="String, var : *{missingDecData.missingList}">
            <h1 th:href="${String}" th:text="${String}"></h1>
        </div>
        <br>
        <br>
        <h3>Please go back and choose another wine.</h3>
        <br>
        <form action="/numberOfWines">
            <button id="bot" type="submit">Back</button>
        </form>

    </div>
    <br>

    <!--<img th:each="String : ${pathToQRCode.qrCodeList}"
         th:src="*{'data:image/png;base64,'+String}"

    -->
</main>
</body>
</html>