<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Wine Guesser</title>
</head>
<body>
<main layout:fragment="content">

    <div class="text-scale">
        <div>
            <h1>Gissa på region!</h1>
            <br>
            <h2>Här kan du välja EN region för bonuspoäng i provningen.</h2>
        </div>
        <br>

        <form action="#" th:action="@{/enterRegion}" th:object="${enterRegionForm}" method="post">
            <select class="select-css" th:field="*{chosenRegion}">
                <option th:each="region : ${enterRegionForm.regions}"
                        th:value="${region}"
                        th:text="${region}">
                </option>
            </select>
            <br>
            <button id="bot" type="submit">Lås in Region</button>
        </form>
        <br>
        <br>
        <h2>Jag vill inte gissa på region.</h2>
        <form action="#" th:action="@{/enterRegion}" th:object="${enterRegionForm}" method="post">
            <button id="bot" type="submit">Hoppa Över</button>
        </form>
    </div>
</main>
</body>
</html>