<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Wine Guesser</title>
</head>
<body>
<main layout:fragment="content">

    <div class="text-scale">
        <div th:if="${missingDecData.missing == 'notMissing'}">
            <h2>Skriv in fullständiga länkar till de viner som du planerar att servera.</h2>
            <h3>Länkarna måste vara från domänen https://www.systembolaget.se</h3>
            <br>
            <form action="#" th:action="@{/enterUrl}" th:object="${enterUrlForm}" method="post">
                <div th:each="String, var : *{urlList}">
                    <input type="text" th:field="*{urlList[__${var.index}__]}" />
                    <input type="hidden" th:field="*{gameId}" />
                    <div>
                    <span class="error"
                          th:if="${#fields.hasAnyErrors()}"
                          th:errors="*{urlList[__${var.index}__]}">
                    </span>
                    </div>
                </div>
                <p class="error" th:if ="${errorType} != null" th:text = "${errorType}"></p>
                <br>
                <button id="bot" type="submit">Gå Vidare</button>
            </form>
        </div>

        <div th:if="${missingDecData.missing == 'missing'}">
            <h3>oJ,0j,Oj!</h3>
            <h3>Vi kunde inte hitta en beskrivning för en eller flera av de viner som</h3>
            <h3>du länkade till. Nämligen: </h3>
            <br>
            <div th:each="String, var : *{missingDecData.missingList}">
                <h3 th:href="${String}" th:text="${String}"></h3>
            </div>
            <br>
            <br>
            <h3>Du kan gå tillbaka och välja ett annat vin eller minska på antalet viner.</h3>
            <br>
            <form action="/numberOfWines">
                <button id="bot" type="submit">Tillbaka</button>
            </form>

        </div>
        <br>

    </div>
</main>
</body>
</html>