<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/gameLayout}" xmlns:visibility="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wine Guesser</title>
</head>
<body>
<main layout:fragment="content">

    <h1> Spelet har börjat!</h1>
    <br>
    <h2>Här är beskrivningarna för alla viner som serveras.</h2>
    <br>
    <h3>Glöm ej att använda QR kod läsaren på det vinet som serveras så att</h3>
    <h3>ni kan skriva in serveringsordningen på det aktuella vinet.</h3>
    <br>
    <br>

    <form id="wine-rate-form" th:unless="${gameBoardForm.doneRating}" th:action="@{/gameBoard}" th:object="${gameBoardForm}" method="post">
        <h3 th:text="'Skriv in betyg 1 - 5 för serveringsvinsnummer: '+ *{wineToRate}"></h3>
        <input id="enter-grade" placeholder=" " type="text" th:field="*{wineRating}" />
        <p class="error" th:if ="${errorType} != null" th:text = "${errorType}"></p>
        <input type="hidden" th:field="*{wineToRate}" />
        <input type="hidden" th:field="*{gameId}" />
        <br>
        <br>
        <button id="wine-rate-button" type="submit">Skicka in Betyg</button>
    </form>

    <br>
    <br>

    <form id="lockResult" th:action="@{/gameBoard}" th:object="${gameBoardForm}" method="post">
        <br>
        <ul class="description-page">
            <li id="description-box" th:each="description, var : *{descriptions}">
                <div id="board-wineDescription" ><h4 th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(description),'\n','&lt;br /&gt;'))}"></h4></div>
                <p class="error" th:if ="${errorType} != null" th:text = "${errorType}"></p>
                <input id="numGuess" th:if="${gameBoardForm.doneRating}" type="text" th:field="*{guessNum[__${var.index}__]}" />
                <label th:if="${gameBoardForm.doneRating != null and gameBoardForm.chosenRegion != null}" class="toggle">
                    <input class="toggle__input" type="checkbox" th:value="${gameBoardForm.chosenRegion}" th:field="*{regionGuessList[__${var.index}__]}">
                    <span class="toggle__label">
                    <span class="toggle__text"><h3 th:text="${gameBoardForm.chosenRegion}"></h3></span>
                    </span>
                </label>
                <span class="error"
                      th:if="${#fields.errors('guessNum')}"
                      th:errors="*{guessNum}">
                </span>
                <input type="hidden" th:field="*{descriptions[__${var.index}__]}"/>
                <input id="numGuess" type="hidden" th:field="*{doneRating}" />
                <br>
            </li>
            <input type="hidden" th:field="*{gameId}"/>
        </ul>
        <br>
        <br>
        <button th:if="${gameBoardForm.doneRating}" id="lockInResult" type="submit">Lås in resultat</button>
    </form>

</main>
</body>
</html>