<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/gameLayout}" xmlns:visibility="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wine Guesser</title>
</head>
<body>
<main layout:fragment="content">

    <div class="text-scale">
            <div th:unless="${gameBoardForm.doneRating}">
                <h1>Provningen har börjat!</h1>
                <br>
                <h2>Här är beskrivningarna för alla viner som serveras.</h2>
                <br>
                <h3>Glöm ej att blipa QR koden på det vinet som serveras så att</h3>
                <h3>ni kan skriva in serveringsordningen för vinet.</h3>
                <br>
                <br>
            </div>
        <form id="wine-rate-form" th:unless="${gameBoardForm.doneRating}" th:action="@{/gameBoard}" th:object="${gameBoardForm}" method="post">
            <h2 th:text="'Skriv in betyg 1 - 5 för vin med serveringsvinsnummer: '+ *{wineToRate}"></h2>
            <input id="enter-grade" type="number" th:field="*{wineRating}" />
            <input type="hidden" th:field="*{wineToRate}" />
            <input type="hidden" th:field="*{gameId}" />
            <span class="error"
                  th:if="${#fields.errors('wineRating')}"
                  th:errors="*{wineRating}">
                    </span>
            <div>
                <br>
                <button id="wine-rate-button" type="submit">Skicka in Betyg</button>
            </div>
        </form>

        <div th:if="${gameBoardForm.doneRating}">
            <h1>Dags att gissa på serveringsordningen!</h1>
            <h2>Detta görs genom att matcha serveringsordningen med vin beskrivningarna nedan.</h2>
            <br>
            <h2 th:if="${gameBoardForm.chosenRegion}" th:text="'Försök också att gissa på vilka viner som kommer från '+${gameBoardForm.chosenRegion}+'.'"></h2>
            <br>
            <h3>Glöm ej att blipa QR koden på det vinet som serveras så att</h3>
            <h3>ni kan skriva in serveringsordningen för vinet.</h3>
            <br>
            <br>
        </div>
        <p class="error" th:if ="${errorType} != null" th:text = "${errorType}"></p>
        <form id="lockResult" th:action="@{/gameBoard}" th:object="${gameBoardForm}" method="post">
            <br>
            <ul class="description-page">
                <li id="description-box" th:each="description, var : *{descriptions}">
                    <div id="board-wineDescription" ><h4 th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(description),'\n','&lt;br /&gt;'))}"></h4></div>
                    <input id="numGuess" th:if="${gameBoardForm.doneRating}" type="number" th:field="*{guessNum[__${var.index}__]}" />
                    <label th:if="${gameBoardForm.doneRating != null and gameBoardForm.chosenRegion != null}" class="toggle">
                        <input type="hidden" th:field="${gameBoardForm.chosenRegion}">
                        <input type="hidden" th:field="${gameBoardForm.numOfWinesWithRegion}">
                        <input class="toggle__input" type="checkbox" th:value="${gameBoardForm.chosenRegion}" th:field="*{regionGuessList[__${var.index}__]}" th:id="'checkbox'+${var.index}">
                        <span class="toggle__label">
                        <span class="toggle__text"><h3 th:text="${gameBoardForm.chosenRegion}"/></span>
                        </span>
                    </label>
                    <input type="hidden" th:field="*{descriptions[__${var.index}__]}"/>
                    <input id="numGuess" type="hidden" th:field="*{doneRating}" />
                    <br>
                </li>
                <input type="hidden" th:field="*{gameId}"/>
            </ul>
            <br>
            <br>
            <span class="error"
                  th:if="${#fields.errors('guessNum')}"
                  th:errors="*{guessNum}">
                    </span>
            <button th:if="${gameBoardForm.doneRating}" id="lockInResult" type="submit">Lås in resultat</button>
        </form>

    </div>

    <script th:inline="javascript" th:if="${gameBoardForm.doneRating}">
        document.addEventListener('DOMContentLoaded', function () {
            maxNumCheckBoxes = /*[[${gameBoardForm.numOfWinesWithRegion}]]*/ 'numRegions';
            numOfClickedCheckBoxes = 0;
            checkbox1 = document.querySelector("input[id=checkbox0]");
            checkbox2 = document.querySelector("input[id=checkbox1]");
            checkbox3 = document.querySelector("input[id=checkbox2]");
            checkbox4 = document.querySelector("input[id=checkbox3]");
            checkbox5 = document.querySelector("input[id=checkbox4]");
            checkbox6 = document.querySelector("input[id=checkbox5]");
            checkbox7 = document.querySelector("input[id=checkbox6]");
            checkbox8 = document.querySelector("input[id=checkbox7]");
            checkbox9 = document.querySelector("input[id=checkbox8]");

            if(checkbox1 != null){
                if(checkbox1.checked.valueOf() === true){
                    numOfClickedCheckBoxes++;
                }
            }
            if(checkbox2 != null) {
                if (checkbox2.checked.valueOf() === true) {
                    numOfClickedCheckBoxes++;
                }
            }
            if(checkbox3 != null) {
                if (checkbox3.checked.valueOf() === true) {
                    numOfClickedCheckBoxes++;
                }
            }
            if(checkbox4 != null) {
                if (checkbox4.checked.valueOf() === true) {
                    numOfClickedCheckBoxes++;
                }
            }
            if(checkbox5 != null) {
                if (checkbox5.checked.valueOf() === true) {
                    numOfClickedCheckBoxes++;
                }
            }
            if(checkbox6 != null) {
                if (checkbox6.checked.valueOf() === true) {
                    numOfClickedCheckBoxes++;
                }
            }
            if(checkbox7 != null) {
                if (checkbox7.checked.valueOf() === true) {
                    numOfClickedCheckBoxes++;
                }
            }
            if(checkbox8 != null) {
                if (checkbox8.checked.valueOf() === true) {
                    numOfClickedCheckBoxes++;
                }
            }
            if(checkbox9 != null) {
                if (checkbox9.checked.valueOf() === true) {
                    numOfClickedCheckBoxes++;
                }
            }

            if (checkbox1 != null) {
                checkbox1.addEventListener('change', function () {
                    if (this.checked && (numOfClickedCheckBoxes === maxNumCheckBoxes)) {
                        checkbox1.checked = false;
                    }else if(this.checked){
                        numOfClickedCheckBoxes++;
                    }
                    else {
                        numOfClickedCheckBoxes--;
                    }
                });
            }
            if (checkbox2 != null) {
                checkbox2.addEventListener('change', function () {
                    if (this.checked && (numOfClickedCheckBoxes === maxNumCheckBoxes)) {
                        checkbox2.checked = false;
                    }else if(this.checked){
                        numOfClickedCheckBoxes++;
                    }
                    else {
                        numOfClickedCheckBoxes--;
                    }
                });
            }
            if (checkbox3 != null) {
                checkbox3.addEventListener('change', function () {
                    if (this.checked && (numOfClickedCheckBoxes === maxNumCheckBoxes)) {
                        checkbox3.checked = false;
                    }else if(this.checked){
                        numOfClickedCheckBoxes++;
                    }
                    else {
                        numOfClickedCheckBoxes--;
                    }
                });
            }
            if (checkbox4 != null) {
                checkbox4.addEventListener('change', function () {
                    if (this.checked && (numOfClickedCheckBoxes === maxNumCheckBoxes)) {
                        checkbox4.checked = false;
                    }else if(this.checked){
                        numOfClickedCheckBoxes++;
                    }
                    else {
                        numOfClickedCheckBoxes--;
                    }
                });
            }
            if (checkbox5 != null) {
                checkbox5.addEventListener('change', function () {
                    if (this.checked && (numOfClickedCheckBoxes === maxNumCheckBoxes)) {
                        checkbox5.checked = false;
                    } else if (this.checked) {
                        numOfClickedCheckBoxes++;
                    } else {
                        numOfClickedCheckBoxes--;
                    }
                });
            }
            if (checkbox6 != null) {
                checkbox6.addEventListener('change', function () {
                    if (this.checked && (numOfClickedCheckBoxes === maxNumCheckBoxes)) {
                        checkbox6.checked = false;
                    }else if(this.checked){
                        numOfClickedCheckBoxes++;
                    }
                    else {
                        numOfClickedCheckBoxes--;
                    }
                });
            }
            if (checkbox7 != null) {
                checkbox7.addEventListener('change', function () {
                    if (this.checked && (numOfClickedCheckBoxes === maxNumCheckBoxes)) {
                        checkbox7.checked = false;
                    }else if(this.checked){
                        numOfClickedCheckBoxes++;
                    }
                    else {
                        numOfClickedCheckBoxes--;
                    }
                });
            }
            if (checkbox8 != null) {
                checkbox8.addEventListener('change', function () {
                    if (this.checked && (numOfClickedCheckBoxes === maxNumCheckBoxes)) {
                        checkbox8.checked = false;
                    }else if(this.checked){
                        numOfClickedCheckBoxes++;
                    }
                    else {
                        numOfClickedCheckBoxes--;
                    }
                });
            }
            if(checkbox9 != null) {
                checkbox9.addEventListener('change', function () {
                    if (this.checked && (numOfClickedCheckBoxes === maxNumCheckBoxes)) {
                        checkbox9.checked = false;
                    }else if(this.checked){
                        numOfClickedCheckBoxes++;
                    }
                    else {
                        numOfClickedCheckBoxes--;
                    }
                });
            }
        });
    </script>


</main>
</body>
</html>