<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/gameBoardLockLayout}">
<head>
    <meta charset="UTF-8">
    <title>Wine Guesser</title>
</head>
<body>
<main layout:fragment="content">

    <div class="text-scale">
        <h1>Svar inskickat!</h1>
        <br>
        <h2>Väntar på att alla vinprovare ska låsa in sina svar.</h2>
        <br>
        <h3>När alla har låst in sina svar kan vinvärden avsluta provningen och en ny Bacchus kan koras.</h3>
        <br>

        <div id="done-or-not">
            <div id="not-done-page">
                <h2>Inte Låst In</h2>
                <ul id="not-done-area" th:each="lobbyData : *{gameBoardLockForm.participantsNotDone}">
                    <li th:id="${lobbyData.getParticipants()}" th:text="${lobbyData.getParticipants()}"></li>
                </ul>
                <ul id="not-done-area" th:if="${gameBoardLockForm.participantsDone.size() == 0}">
                </ul>
            </div>

            <div id="done-page">
                <h2>Har Låst In</h2>
                <ul id="done-area" th:each="lobbyData : *{gameBoardLockForm.participantsDone}">
                    <li th:id="${lobbyData.getParticipants()}" th:text="${lobbyData.getParticipants()}"></li>
                </ul>
                <ul id="done-area" th:if="${gameBoardLockForm.participantsDone.size() == 0}">
                </ul>
            </div>
        </div>


        <ul class="description-page">
            <li id="description-box" th:each="description, var : *{gameBoardLockForm.descriptions}">
                <h4 th:id="${var.index}" th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(description),'\n','&lt;br /&gt;'))}"></h4>
                <br>
                <h3 id="myGuess" th:text="'Min Gissning: ' + ${gameBoardLockForm.guessNum[__${var.index}__]}"></h3>
            </li>
        </ul>
        <br>
        <br>
    </div>

    <div id="resultButton" th:if="${gameBoardLockForm.gameHost}">
        <form th:action="@{'../gameResults/'+ ${gameBoardLockForm.game_id}}" id="viewResult">
            <!--<button id="viewResultButton" type="submit">Visa Resultat</button>-->
        </form>
    </div>

    <div id="bottom-left" th:unless="${gameBoardLockForm.gameHost}">
        <form id="lobbyLeaveForm" th:action="@{'/gameBoard/' + ${gameBoardLockForm.game_id} + '/command/leave'}">
            <button id="lobbyLeave" type="submit" onclick="return confirm('Är du säker på att du vill lämna vinprovningen? Du kommer inte kunna gå med igen.');">Lämna Vinprovningen</button>
        </form>
    </div>

    <div id="bottom-left" th:if="${gameBoardLockForm.gameHost}">
        <form id="lobbyCloseForm" th:action="@{'/gameBoard/' + ${gameBoardLockForm.game_id} + '/command/quit'}">
            <button id="lobbyClose" type="submit" onclick="return confirm('Är du säker på att du vill avsluta vinprovningen? Alla vinprovare kommer bli utkastade och inget kommer sparas.');">Stäng Vinprovningen</button>
        </form>
    </div>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            connect();
        });

    </script>

</main>
</body>
</html>