<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <title>Wine Guesser</title>
</head>
<body>
<main layout:fragment="content">

    <div class="text-scale" >

        <h1 th:text="'Gissa Vinet'"></h1>
        <h2 th:text="'RiojaKlubben'"></h2>
        <br>
        <h3>Välkommen!</h3>
        <br>
        <form action="/login">
            <button type="submit">Logga In</button>
        </form>
        <form action="/register">
            <button type="submit">Registrera Dig</button>
        </form>

    </div>

</main>
</body>
</html>