<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Wine Guesser</title>
</head>

<body>
<main layout:fragment="content">

    <div class="text-scale">
        <div th:if="${lobbyForm.clubName}">
            <h1>Detta är ett klubbprovningsrum.</h1>
            <h2 th:text="${lobbyForm.clubName}"></h2>
        </div>
        <div th:unless="${lobbyForm.clubName}">
            <h1>Detta är ett öppet vinprovningsrum.</h1>
        </div>
        <br>
        <h1 th:text="${lobbyForm.gameId}"></h1>
        <br>
        <h2>Deltagare i denna vinprovning måste fylla i koden ovan.</h2>
        <br>
        <h3>När alla är redo kan vinvärden starta vinprovningen.</h3>

        <form id="messageForm" name="messageForm" nameForm="messageForm" action="#">
            <button type="submit" th:id="${lobbyForm.username} + 'button'">Redo</button>
        </form>
        <form id="startGame" th:if="${lobbyForm.gameHost}" action="#">
            <button type="submit">Starta</button>
        </form>
        <br>


        <div id="ready-or-not">
            <div id="not-ready-page">
                <h2>Inte Redo</h2>
                <ul id="not-ready-area" th:each="lobbyData : *{lobbyForm.participantsNotReady}">
                    <li th:id="${lobbyData.getParticipants()}" th:text="${lobbyData.getParticipants()}"></li>
                </ul>
            </div>

            <div id="ready-page">
                <h2>Redo</h2>
                <ul id="ready-area" th:each="lobbyData : *{lobbyForm.participantsReady}">
                    <li th:id="${lobbyData.getParticipants()}" th:text="${lobbyData.getParticipants()}"></li>
                </ul>
                <ul id="ready-area" th:if="${lobbyForm.participantsReady.size() == 0}">
                    
                </ul>
            </div>
        </div>
        <br>

        <br>

    </div>

    <div id="bottom-left" th:if="${lobbyForm.gameHost}">
        <form id="lobbyCloseForm" th:action="@{'/lobby/' + ${lobbyForm.gameId} + '/command/quit'}">
            <button id="lobbyClose" type="submit" onclick="return confirm('Är du säker på att du vill avsluta vinprovningen? Alla vinprovare kommer bli utkastade och inget kommer sparas.');">Stäng Vinprovningen</button>
        </form>
    </div>
    <div id="bottom-left" th:unless="${lobbyForm.gameHost}">
        <form id="lobbyLeaveForm" th:action="@{'/lobby/' + ${lobbyForm.gameId} + '/command/leave'}">
            <button id="lobbyLeave" type="submit" onclick="return confirm('Är du säker på att du vill lämna vinprovningen?');">Lämna Vinprovningen</button>
        </form>
    </div>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            connect();
        });

        window.onbeforeunload = function() {
            return stompClientReg.send("/app/chat.regularLobbyComs/"+gameId,
                {},
                JSON.stringify({sender: username, content: 'specific socket communication', gameId: gameId, type: 'LEAVE'})
            )
        //if we return nothing here (just calling return;) then there will be no pop-up question at all
        //return;

        };
    </script>
</main>

</body>
</html>