<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Wine Guesser</title>
</head>

<body>
<main layout:fragment="content">

    <div class="text-scale">
        <h1>Detta är ett öppet vinprovningsrum.</h1>
        <br>
        <h1 th:text="${lobbyForm.gameId}"></h1>
        <br>
        <h2>Användare som vill gå med i denna vinprovning kan göra så genom att skriva in detta id.</h2>
        <br>
        <h3>När alla är redo kan spelvärden starta vinprovningen.</h3>

        <form id="messageForm" name="messageForm" nameForm="messageForm" action="#">
            <button type="submit" th:id="${lobbyForm.username} + 'button'">Redo</button>
        </form>
        <form id="startGame" th:if="${lobbyForm.gameHost}" action="#">
            <button type="submit">Starta</button>
        </form>
        <br>


        <div id="ready-or-not">
            <div id="not-ready-page">
                <h2>Inte Redo</h2>
                <ul id="not-ready-area" th:each="lobbyData : *{lobbyForm.participantsNotReady}">
                    <li th:id="${lobbyData.getParticipants()}" th:text="${lobbyData.getParticipants()}"></li>
                </ul>
            </div>

            <div id="ready-page">
                <h2>Redo</h2>
                <ul id="ready-area" th:each="lobbyData : *{lobbyForm.participantsReady}">
                    <li th:id="${lobbyData.getParticipants()}" th:text="${lobbyData.getParticipants()}"></li>
                </ul>
                <ul id="ready-area" th:if="${lobbyForm.participantsReady.size() == 0}">

                </ul>
            </div>
        </div>
        <br>

        <br>
        <div id="bottom-left" th:if="${lobbyForm.gameHost}">
            <form id="lobbyClose" th:action="@{'/lobby/' + ${lobbyForm.gameId} + '/command/quit'}">
                <button type="submit">Stäng Lobby</button>
            </form>
        </div>
        <div id="bottom-left" th:unless="${lobbyForm.gameHost}">
            <form id="lobbyLeave" th:action="@{'/lobby/' + ${lobbyForm.gameId} + '/command/leave'}">
                <button type="submit">Lämna Lobby</button>
            </form>
        </div>
    </div>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            connect();
        });

        window.onbeforeunload = function() {
            return stompClientReg.send("/app/chat.regularComs/"+gameId,
                {},
                JSON.stringify({sender: username, content: 'specific socket communication', gameId: gameId, type: 'LEAVE'})
            )
        //if we return nothing here (just calling return;) then there will be no pop-up question at all
        //return;

        };
    </script>
</main>

</body>
</html>