<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Wine Guesser</title>
</head>
<body>
<main layout:fragment="content">

    <div class="text-scale">
        <h1>Inloggning</h1>
        <br>
        <form action=# th:action="@{/login}" th:object="${loginForm}" method="post">
            <input type="text" placeholder="Användarnamn" th:field="*{username}"/>
            <div>
                <span class="error"
                      th:if="${#fields.errors('username')}"
                      th:errors="*{username}">
                 </span>
            </div>
            <br>
            <br>
            <input type="password" placeholder="Lösenord" th:field="*{password}"/>
            <div>
                <span class="error"
                      th:if="${#fields.errors('password')}"
                      th:errors="*{password}">
                </span>
            </div>
            <br>
            <br>
            <button type="submit">Logga In</button>
        </form>
    </div>
</main>
</body>
</html>