<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Wine Guesser</title>
</head>
<body>
<main layout:fragment="content">

    <h3>Öppna en ny lobby</h3>
    <form action="/numberOfWines">
        <button type="submit">Börja förbereda</button>
    </form>
    <br>
    <br>
    <h3>Gå med i en redan existerande lobby.</h3>
    <br>
    <form action=# th:action="@{/menu}" th:object="${joinGameLobbyForm}" method="post">
        <input type="text" placeholder="Kod" th:field="*{joinCode}"/>
        <div>
            <span class="error"
                  th:if="${#fields.errors('joinCode')}"
                  th:errors="*{joinCode}">
            </span>
        </div>
        <br>
        <br>
        <button type="submit">Gå Med I Lobby</button>
    </form>

</main>
</body>
</html>