<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Wine Guesser</title>
</head>
<body>
<main layout:fragment="content">

    <div th:unless="${joinGameLobbyForm.activeGame}">
        <h3>Öppna en ny lobby</h3>
        <form action="/numberOfWines">
            <button type="submit">Börja förbereda</button>
        </form>
        <br>
        <br>
        <h3>Gå med i en redan existerande lobby.</h3>
        <br>
        <form action=# th:action="@{/menu}" th:object="${joinGameLobbyForm}" method="post">
            <input type="text" placeholder="Kod" th:field="*{joinCode}"/>
            <div>
                <span class="error"
                      th:if="${#fields.errors('joinCode')}"
                      th:errors="*{joinCode}">
                </span>
            </div>
            <p class="error" th:if ="${errorType} != null" th:text = "${errorType}"></p>
            <br>
            <br>
            <button type="submit">Gå Med I Lobby</button>
        </form>
    </div>
    <div th:if="${joinGameLobbyForm.activeGame}">
        <h2>Du har en aktiv lobby!</h2>
        <br>
        <h3>Klicka här för att öppna den.</h3>
        <br>
        <form th:if="${joinGameLobbyForm.gameStatus}" th:action="@{'/gameBoard/' + ${joinGameLobbyForm.activeGame}}">
            <h3>Spelet verkar redan ha startat, men du kan som tur är gå med igen.</h3>
            <button type="submit">Gå med igen</button>
        </form>
        <form th:unless="${joinGameLobbyForm.gameStatus}" th:action="@{'/lobby/' + ${joinGameLobbyForm.activeGame}}">
            <h3>Spelet har inte startat än men det kanske finns folk som väntar på dig.</h3>
            <button type="submit">Gå med igen</button>
        </form>
    </div>


</main>
</body>
</html>