<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:redirect="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wine Guesser</title>
</head>
<body>
<main layout:fragment="content">

    <div th:if="${joinGameLobbyForm.activeGame == null}">
        <h3>Börja förbereda en ny vinprovning.</h3>
        <form action="/numberOfWines">
            <button type="submit">Börja förbereda</button>
        </form>
        <br>
        <br>
        <h3>Gå med i ett öppet vinprovningsrum.</h3>
        <br>
        <form th:action="@{/menu}" th:object="${joinGameLobbyForm}" th:method="post">
            <input type="text" placeholder="Kod" th:field="*{joinCode}"/>
            <div>
                <span class="error"
                      th:if="${#fields.errors('joinCode')}"
                      th:errors="*{joinCode}">
                </span>
            </div>
            <p class="error" th:if ="${errorType} != null" th:text = "${errorType}"></p>
            <br>
            <br>
            <button type="submit">Gå Med I Lobby</button>
        </form>
    </div>
    <div th:if="${joinGameLobbyForm.activeGame != null}">
        <h2>Du är med i en pågånde vinprovning!</h2>
        <br>
        <h3>Klicka här för att gå med i den igen.</h3>
        <br>
        <form th:if="${joinGameLobbyForm.gameStatus == 'started'}" th:action="@{'/gameBoard/' + ${joinGameLobbyForm.activeGame}}">
            <button type="submit">Gå med igen</button>
        </form>
        <form th:if="${joinGameLobbyForm.gameStatus == 'prestart'}" th:action="@{'/lobby/' + ${joinGameLobbyForm.activeGame}}">
            <button type="submit">Gå med igen</button>
        </form>
    </div>


</main>
</body>
</html>