<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Wine Guesser</title>
</head>
<body>
<main layout:fragment="content">

    <div class="text-scale"></div>
        <h3>Skriv in antalet viner som ska serveras på vinprovningen.</h3>
        <br>
        <form action=# th:action="@{/numberOfWines}" th:object="${numberOfWinesForm}" method="post">
            <input type="text" placeholder="Antal" th:field="*{numWines}"/>
            <div>
                <span class="error"
                      th:if="${#fields.errors('numWines')}"
                      th:errors="*{numWines}">
                </span>
            </div>
            <br>
            <br>
            <button type="submit">Gå Vidare</button>
        </form>
    </div>
</main>
</body>
</html>