<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Wine Guesser</title>
</head>
<body>
00px" class="active"/>
<main layout:fragment="content">
    <div class="text-scale"></div>
        <h1 th:text="${profileForm.profileData.username}"></h1>
        <br>
        <h2 th:text="'Profilsida'"></h2>
        <div th:if="${profileForm.profileData.userResultsDTO.isBacchus}">
            <img id="clubList-logo" src="../resources/images/bacchus.png" alt="profile standard logo">
        </div>
        <div th:unless="${profileForm.profileData.userResultsDTO.isBacchus}">
            <img id="clubList-logo" src="../resources/images/profileLogo.png" alt="profile standard logo">
        </div>
        <br>
        <br>
        <div th:unless="${profileForm.profileData.clubNameList.isEmpty()}">
            <h2 th:text="'Medlem i klubbarna:'"></h2>
            <ul>
                <li th:each="club, var : *{profileForm.profileData.clubNameList}">
                    <a id="date-played" th:href="'../club/'+ ${club}" th:text="${club}"/>
                    <br>
                </li>
            </ul>
        </div>
        <br>
        <br>
        <div id="stats-area">
            <h2>Statistik:</h2>
            <div id="stats-box">
                <h3 th:text="'Spelade matcher: '+${profileForm.profileData.userResultsDTO.playedGames}"></h3>
                <h3 th:if="${profileForm.profileData.userResultsDTO.playedGames != 0}" th:text="'Korrekta gissningar: '+${profileForm.profileData.userResultsDTO.correctPercent}+'%'"></h3>
                <h3 th:if="${profileForm.profileData.userResultsDTO.playedGames == 0}" th:text="'Korrekta gissningar: -- %'"></h3>
                <h3 th:text="'Vinster: '+${profileForm.profileData.userResultsDTO.wins}"></h3>
            </div>
        </div>
        <ul id="stats-area">
            <h2>Spelade Matcher:</h2>
            <li id="stats-box" th:each="match, var : *{profileForm.profileData.matchHistoryList}">
                <h3 th:if="${match.clubName}">
                    <a th:href="'../club/'+${match.clubName}">
                        <img id="bacchus-logo" src="../resources/images/clubIcon.png" alt="clubIcon standard logo">
                    </a>
                    <a id="date-played" th:href="${match.url + '/'+profileForm.profileData.username}" th:text="${match.datePlayed}"/>
                </h3>
                <h3 th:unless="${match.clubName}">
                    <a id="date-played" th:href="${match.url + '/'+profileForm.profileData.username}" th:text="${match.datePlayed}"/>
                </h3>
            </li>
            <div id="bot">
                <form action="/menu">
                    <button type="submit">Till Meny</button>
                </form>
            </div>
        </ul>
    </div>
</main>
</body>
</html>