<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Wine Guesser</title>
</head>
<body>
<main layout:fragment="content">
    <div class="text-scale">
        <div th:if="${qrOptionForm.gameStatus != 'finished' and qrOptionForm.servingOrderAlreadyEntered == null}">
            <div>
                <h1>Detta är QR kod sidan för ett vin som serveras på vinprovningen!</h1>
                <br>
                <h2>Skriv in den faktiska serveringsordningen här.</h2>
            </div>

            <form action=# th:action="@{qrOption}" th:object="${qrOptionForm}" method="post">
                <input type="hidden" th:field="*{id}" />
                <input type="hidden" th:field="*{url}" />
                <input type="hidden" th:field="*{gameId}" />
                <input type="hidden" th:field="*{gameStatus}" />
                <input type="text" placeholder="Serveringsnummer" th:field="*{orderNum}"/>
                <p class="error" th:if ="${errorType} != null" th:text = "${errorType}"></p>
                <div>
                    <span class="error"
                          th:if="${#fields.errors('orderNum')}"
                          th:errors="*{orderNum}">
                     </span>
                </div>
                <br>
                <br>
                <button type="submit">Skicka</button>
            </form>
        </div>
        <div th:if="${qrOptionForm.gameStatus != 'finished' and qrOptionForm.servingOrderAlreadyEntered != null}">
            <h1>Vinprovningen är inte avslutad, när den blir det blipa QR koden igen och kom tillbaka.</h1>
        </div>
        <div th:if="${qrOptionForm.gameStatus == 'finished'}">
            <h2>Nu när vinprovningen är slut kan du klicka på länken nedan.</h2>
            <br>
            <a th:href="@{${qrOptionForm.url}}">
                <h1 th:text="${qrOptionForm.parsedUrl}"></h1>
            </a>
        </div>
    </div>
</main>
</body>
</html>