<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Wine Guesser</title>
</head>
<body>
<main layout:fragment="content">
    <div class="text-scale">
        <div>
            <h2>Detta är QR kod sidan för ett vin som serveras på vinprovningen!</h2>
            <br>
            <h2>Här kan du skriva in serveringsordningen för detta vin.</h2>
        </div>

        <form action=# th:action="@{qrOption}" th:object="${qrOptionForm}" method="post">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{url}" />
            <input type="text" placeholder="Serveringsnummer" th:field="*{orderNum}"/>
            <p class="error" th:if ="${errorType} != null" th:text = "${errorType}"></p>
            <div>
                <span class="error"
                      th:if="${#fields.errors('orderNum')}"
                      th:errors="*{orderNum}">
                 </span>
            </div>
            <br>
            <br>
            <button type="submit">Skicka</button>
        </form>
        <div>
            <br>
            <br>
            <h2>Om vinprovningen är klar kan klicka på denna länk för att inspektera vinet på webben.</h2>
            <br>
            <br>
            <a th:href="@{${qrOptionForm.url}}">
                <h4 th:text="${qrOptionForm.parsedUrl}"></h4>
            </a>
        </div>
    </div>
</main>
</body>
</html>