<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header id="header" th:fragment="header">
    <div class="custom-padding">
        <nav>
            <div href="/home" class="logo">Gissa Vinet</div>

            <div sec:authorize="isAuthenticated()">
                <ul class="menu-area">
                    <li><a href="/menu">Meny</a></li>
                    <li><a th:href="@{/logout}" th:action="@{/logout}">Logga ut</a></li>
                    <li><a href="/about">Om</a></li>
                </ul>
            </div>

            <div sec:authorize="isAnonymous()">
                <ul class="menu-area">
                    <li><a href="/home">Hem</a></li>
                    <li><a href="/login">Logga in</a></li>
                    <li><a href="/register">Registrering</a></li>
                    <li><a href="/about">Om</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
</body>
</html>