<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<userBar class="userBar" id="userBar" th:fragment="userBar">
    <Strong>
        <div id="ubar-info" sec:authorize="isAuthenticated()">
            <a th:text ="${#authentication.getName()}"></a>
            <div>
                <a th:href="@{'/profile/'+${#authentication.getName()}}">
                    <img src="/resources/images/profilePicture.png" width="110px" height="150px">
                </a>
            </div>
        </div>
    </Strong>
</userBar>
</body>
</html>