
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 300px) and (max-device-width : 600px) {

    body {
        background: url("/resources/images/setupBg.png");
        -webkit-background-size: cover; /* For WebKit*/
        -moz-background-size: cover;    /* Mozilla*/
        -o-background-size: cover;      /* Opera*/
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        /* Generic*/
    }

    form#startGame{
        width: 250px;
        margin: auto;
    }

    #startGame{
        display: none;
    }


    #not-ready-page {
        float: left;
        margin-left: 100px;
    }

    #ready-page {
        float: right;
        margin-right: 100px;
    }


    div#not-ready-page h2{
        text-decoration: underline;
    }

    div#ready-page h2{
        text-decoration: underline;
    }

    ul#not-ready-area li{
        color: #e60000;
        font-family: 'Arial Rounded MT Bold', sans-serif;
        font-size: 70px;
        font-weight: 400;
        line-height: 60px;
        margin: 0 0 16px;
    }

    ul#ready-area li{
        color: #00ff00;
        font-family: 'Arial Rounded MT Bold', sans-serif;
        font-size: 70px;
        font-weight: 400;
        line-height: 60px;
        margin: 0 0 16px;
    }

    #not-done-page {
        margin-top: 75px;
        margin-bottom: 50px;
        float: left;
        margin-left: 100px;
    }

    #done-page {
        margin-top: 75px;
        margin-bottom: 50px;
        float: right;
        margin-right: 100px;
    }

    #myGuess{
        margin-top: 30px;
        padding-top: 0px;
    }


    div#not-done-page h2{
        text-decoration: underline;
    }

    div#done-page h2{
        text-decoration: underline;
    }

    ul#not-done-area li{
        color: #e60000;
        font-family: 'Arial Rounded MT Bold', sans-serif;
        font-size: 70px;
        font-weight: 400;
        line-height: 60px;
        margin: 0 0 16px;
    }

    ul#done-area li{
        color: #00ff00;
        font-family: 'Arial Rounded MT Bold', sans-serif;
        font-size: 70px;
        font-weight: 400;
        line-height: 60px;
        margin: 0 0 16px;
    }

    #lockInResult{
        margin:auto;
        margin-bottom: 50px;
    }

    header {
        text-transform: uppercase;
        position: relative;
        height: 150px;
        margin-top: 0px;
        font-size: 16em;
        text-align: center;
        color: #938E94;
        letter-spacing: .2em;
        font-family: 'Cabin';
        font-size: 44px;
        color: #fff;
    }

    h4{
        font-style: italic;
        font-family: 'Trocchi', serif;
        font-size: 35px;
        color: lightgrey;
        display: inline-block;
    }


    #description-box{
        box-sizing: content-box;
        display: inline-block;
        margin: auto;
        background-color: #333;
        width: 800px;
        border: solid lightgrey;
        border-width: 4px;
        padding: 40px;
        text-align: left;
    }
    .description-page{
        width: 950px;
        margin-left: auto;
        margin-right: auto;
    }

    userbar{
        position:absolute;
        font-family: 'Cabin';
        font-size: 44px;
        top: 180px;
        left:50px;
        color: #fff;
    }

    #lobbyClose{
        position:absolute;
        font-family: 'Cabin';
        font-size: 44px;
        left:50px;
        top:1200px;
        color: #fff;
        float:bottom;
    }
    #lobbyLeave{
        position:absolute;
        font-family: 'Cabin';
        font-size: 44px;
        left:50px;
        top:1200px;
        color: #fff;
        float:bottom;
    }

    main {
        position: relative;
        height: 200px;
        margin-top: 250px;
        text-align: center;
    }

    .error {
        color: red;
        font-family: 'Cabin';
        font-size: 40px;

    }

    #numGuess{
        margin-top: 50px;
        padding-top: 0px;
        width: 100px;
        height: 100px;
        border: none; /* <-- This thing here */
        border:solid 3px #ccc;
        border-radius: 10px;
        font-size:40pt;
        float:right
    }

    h1 { color: #fff; font-family: 'Trocchi', serif; font-size: 76px; font-weight: normal; line-height: 80px; margin: 0; color: #fff; }
    h2 { color: #fff;; font-family: 'Arial Rounded MT Bold', sans-serif; font-size: 56px; font-weight: 400; line-height: 64px; margin: 0 0 8px; color: #fff; }
    h3 { color: #fff; font-family: 'Arial Rounded MT Bold', sans-serif; font-size: 44px; font-weight: 400; line-height: 48px; margin: 0 0 8px; color: #fff; }


    button {
        font-family: 'Cabin';
        background-color: #333; /* Green */
        color: #fff;
        padding: 32px 64px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 32px;
        margin: 8px 4px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        border: 4px solid #333;
        border-radius: 24px;
    }
    button:hover {
        font-family: 'Cabin';
        background-color: #fff;
        color: black;
    }


    /* necessary to give position: relative to parent. */
    input[type="text"]{font: 40px/52px 'cabin', sans-serif; color: #333; width: 40%; height:85px; font-weight: bold; box-sizing: border-box; letter-spacing: 1px;}
    input[type="password"]{font: 40px/52px 'cabin', Arial, sans-serif; color: #333; width: 40%; height:85px; font-weight: bold; box-sizing: border-box; letter-spacing: 1px;}

    .effect-1 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #4caf50; transition: 0.4s;}
    .effect-1:focus ~ .focus-border{width: 20%; transition: 0.4s;}
    /* Styles */

    #viewResult{
        display:block;
        text-align: center;
        margin: auto;
        margin-bottom: 100px;
    }

    #lockInResult{
        margin-bottom: 100px;
    }

    #resultButton{
        width:200px;
        position: center;
        display:block;
        margin: auto;
    }

    #gamePoint-area{
        width: 340px;
        margin-left: auto;
        margin-right: auto;
    }

    #gamePoint-box{
        box-sizing: content-box;
        display: inline-block;
        margin: auto;
        background-color: #333;
        width: 340px;
        border: solid lightgrey;
        border-width: 4px;
        padding: 8px;
        text-align: center;
    }

    #res-name{
        float: left;
        text-align: left;
    }
    #res-points{
        float: right;
        text-align: right;
    }


    #res-wineDescription{
        float:left;
        text-align: left;
        width: 465px;
    }

    #res-wineName{
        margin-right: 100px;
        float:left
    }

    #p-result{
        float:right;
        text-align: left;
        margin: auto;
    }

    #res-winePicture{
        float:left;
        width: 200px;
        height: auto;
        padding-right: 20px;
    }



    #resultData-area{
        width: 950px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 150px;
    }

    #resultData-box{
        box-sizing: content-box;
        display: inline-block;
        margin: auto;
        height: auto;
        background-color: #333;
        width: 900px;
        border: solid lightgrey;
        border-width: 4px;
        padding: 8px;
        text-align: center;
    }

    #enter-grade{
        margin-top: 80px;
        padding-top: 0px;
        width: 100px;
        height: 100px;
        border: none; /* <-- This thing here */
        border:solid 3px #ccc;
        border-radius: 10px;
        font-size:40pt;
    }

    #board-wineDescription{
        float:left;
        text-align: left;
        width: 820px;
    }

    #bot{
        margin-top: 40px;
        margin-bottom: 40px;
        float:bottom;
    }

    #stats-area{
        width:800px;
        margin: auto;
        margin-bottom: 100px;
        height:auto;
        text-align: left;
    }

    #stats-box{
        padding: 10px;
        background-color: #777777;
        margin: auto;
        width:800px;
        float:left;
        text-align: left;
    }

    #date-played{
        font-size: 60px;
        font-weight: bold;
    }

    .select-css {
        margin:auto;
        display: block;
        font-size: 32px;
        width:500px;
        font-family: sans-serif;
        font-weight: 700;
        color: #444;
        line-height: 1.3;
        padding: 1.2em 2.8em 1em 1.6em;
        max-width: 100%;
        box-sizing: border-box;
        border: 2px solid #aaa;
        box-shadow: 0 2px 0 2px rgba(0,0,0,.04);
        border-radius: 1em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
        background-repeat: no-repeat, repeat;
        background-position: right 1.4em top 50%, 0 0;
        background-size: 1.3em auto, 100%;
    }
    .select-css::-ms-expand {
        display: none;
    }
    .select-css:hover {
        border-color: #888;
    }
    .select-css:focus {
        border-color: #aaa;
        box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: #222;
        outline: none;
    }
    .select-css option {
        font-weight:normal;
    }

    .toggle{
        margin-top: 50px;
        --uiToggleSize: var(--toggleSize, 20px);
        --uiToggleIndent: var(--toggleIndent, .4em);
        --uiToggleBorderWidth: var(--toggleBorderWidth, 2px);
        --uiToggleColor: var(--toggleColor, #000);
        --uiToggleDisabledColor: var(--toggleDisabledColor, #868e96);
        --uiToggleBgColor: var(--toggleBgColor, #fff);
        --uiToggleArrowWidth: var(--toggleArrowWidth, 2px);
        --uiToggleArrowColor: var(--toggleArrowColor, #fff);

        display: inline-block;
        position: relative;
    }


    .toggle__input{
        position: absolute;
        left: -99999px;
    }

    .toggle__label{
        display: inline-flex;
        cursor: pointer;
        min-height: var(--uiToggleSize);
        padding-left: calc(var(--uiToggleSize) + var(--uiToggleIndent));
    }

    .toggle__label:before, .toggle__label:after{
        content: "";
        box-sizing: border-box;
        width: 2em;
        height: 2em;
        font-size: var(--uiToggleSize);

        position: absolute;
        left: 0;
        top: 0;
    }

    .toggle__label:before{
        border: var(--uiToggleBorderWidth) solid var(--uiToggleColor);
        z-index: 2;
    }

    .toggle__input:disabled ~ .toggle__label:before{
        border-color: var(--uiToggleDisabledColor);
    }

    .toggle__input:focus ~ .toggle__label:before{
        box-shadow: 0 0 0 4px var(--uiToggleBgColor), 0 0 0px 8px var(--uiToggleColor);
    }

    .toggle__input:not(:disabled):checked:focus ~ .toggle__label:after{
        box-shadow: 0 0 0 4px var(--uiToggleBgColor), 0 0 0px 8px var(--uiToggleColor);
    }

    .toggle__input:not(:disabled) ~ .toggle__label:after{
        background-color: var(--uiToggleColor);
        opacity: 0;
    }

    .toggle__input:not(:disabled):checked ~ .toggle__label:after{
        opacity: 1;
    }

    .toggle__text{
        float:left;
        padding-left: 70px;
        padding-top: 24px;
    }

    /*
    The arrow size and position depends from sizes of square because I needed an arrow correct positioning from the top left corner of the element toggle
    */

    .toggle__text:before{
        content: "";
        box-sizing: border-box;
        width: 0;
        height: 0;
        font-size: var(--uiToggleSize);

        border-left-width: 0;
        border-bottom-width: 0;
        border-left-style: solid;
        border-bottom-style: solid;
        border-color: var(--uiToggleArrowColor);

        position: absolute;
        top: 1em;
        left: .4em;
        z-index: 3;

        transform-origin: left top;
        transform: rotate(-40deg) skew(10deg);
    }

    .toggle__input:not(:disabled):checked ~ .toggle__label .toggle__text:before{
        width: 1em;
        height: .50em;
        border-left-width: var(--uiToggleArrowWidth);
        border-bottom-width: var(--uiToggleArrowWidth);
        will-change: width, height;
        transition: width .1s ease-out .2s, height .2s ease-out;
    }

    /*
    =====
    LEVEL 2. PRESENTATION STYLES
    =====
    */

    /*
    The demo skin
    */

    .toggle__label:before, .toggle__label:after{
        border-radius: 4px;
    }

    /*
    The animation of switching states
    */

    .toggle__input:not(:disabled) ~ .toggle__label:before,
    .toggle__input:not(:disabled) ~ .toggle__label:after{
        opacity: 1;
        transform-origin: center center;
        will-change: transform;
        transition: transform .2s ease-out;
    }

    .toggle__input:not(:disabled) ~ .toggle__label:before{
        transform: rotateY(0deg);
        transition-delay: .2s;
    }

    .toggle__input:not(:disabled) ~ .toggle__label:after{
        transform: rotateY(90deg);
    }

    .toggle__input:not(:disabled):checked ~ .toggle__label:before{
        transform: rotateY(-90deg);
        transition-delay: 0s;
    }

    .toggle__input:not(:disabled):checked ~ .toggle__label:after{
        transform: rotateY(0deg);
        transition-delay: .2s;
    }

    .toggle__text:before{
        opacity: 0;
    }

    .toggle__input:not(:disabled):checked ~ .toggle__label .toggle__text:before{
        opacity: 1;
        transition: opacity .1s ease-out .3s, width .1s ease-out .5s, height .2s ease-out .3s;
    }

    /*
    =====
    LEVEL 3. SETTINGS
    =====
    */

    .toggle{
        --toggleColor: #5A7DD0;
        --toggleBgColor: #5A7DD0;
        --toggleSize: 50px;
    }


    #correct-region-guess{
        color:forestgreen;
    }

    #wrong-region-guess{
        color:red;
    }

    #region-result{
        margin: auto;
        float:left;
        margin-bottom: 20px;
    }

    /* A link that has not been visited */
    a:link {
        color: #7f1a1a;
    }

    /* A link that has been visited */
    a:visited {
        color: #7f1a1a;
    }

    /* A link that is hovered on */
    a:hover {
        color: #7f1a1a;
    }

    /* A link that is selected */
    a:active {
        color: #7f1a1a;
    }


}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1200px) {

    #stats-area{
        width:750px;
        margin: auto;
        padding:auto;
        height:auto;
        text-align: left;
    }

    #stats-box{
        padding: 10px;
        background-color: #777777;
        margin: auto;
        width:750px;
        float:left;
        text-align: left;
    }

    #date-played{
        font-size: 25px;
        font-weight: bold;
    }


    #board-wineDescription{
        float:left;
        text-align: left;
        width: 320px;
    }


    #lockInResult{
        margin:auto;
        margin-bottom: 50px;
    }

    #enter-grade{
        margin-top: 10px;
        padding-top: 0px;
        width: 50px;
        height: 50px;
        border: none; /* <-- This thing here */
        border:solid 3px #ccc;
        border-radius: 10px;
        font-size:40pt;
        text-align:center;
    }



    body {
        background: url("/resources/images/setupBg.png");
        -webkit-background-size: cover; /* For WebKit*/
        -moz-background-size: cover;    /* Mozilla*/
        -o-background-size: cover;      /* Opera*/
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;       /* Generic*/
    }


    form#startGame{
        width: 200px;
        margin: auto;
    }

    #startGame{
        display: none;
    }


    #not-ready-page {
        float: left;
        float: top;
        margin-left: 550px;
    }

    #ready-page {
        float: right;
        float: top;
        margin-right: 550px;
    }


    div#not-ready-page h2{
        text-decoration: underline;
    }

    div#ready-page h2{
        text-decoration: underline;
    }

    ul#not-ready-area li{
        color: #e60000;
        font-family: 'Arial Rounded MT Bold', sans-serif;
        font-size: 35px;
        font-weight: 400;
        line-height: 30px;
        margin: 0 0 8px;
    }

    ul#ready-area li{
        color: #00ff00;
        font-family: 'Arial Rounded MT Bold', sans-serif;
        font-size: 35px;
        font-weight: 400;
        line-height: 30px;
        margin: 0 0 8px;
    }

    #not-done-page {
        float: left;
        margin-left: 280px;
    }

    #done-page {
        float: right;
        margin-right: 300px;
    }

    #myGuess{
        margin-top: 15px;
        padding-top: 0px;
    }


    div#not-done-page h2{
        text-decoration: underline;
    }

    div#done-page h2{
        text-decoration: underline;
    }

    ul#not-done-area li{
        color: #e60000;
        font-family: 'Arial Rounded MT Bold', sans-serif;
        font-size: 35px;
        font-weight: 400;
        line-height: 30px;
        margin: 0 0 8px;
    }

    ul#done-area li{
        color: #00ff00;
        font-family: 'Arial Rounded MT Bold', sans-serif;
        font-size: 35px;
        font-weight: 400;
        line-height: 30px;
        margin: 0 0 8px;
    }

    header {

        text-transform: uppercase;
        position: relative;
        height: 150px;
        margin-top: 0px;
        font-size: 8em;
        text-align: center;
        color: #938E94;
        letter-spacing: .1em;
        font-family: 'Cabin';
        font-size: 22px;
        color: #fff;
    }

    h4{
        font-style: italic;
        font-family: 'Trocchi', serif;
        font-size: 18px;
        color: lightgrey;
        display: inline-block;
    }


    #description-box{
        box-sizing: content-box;
        display: inline-block;
        margin: auto;
        background-color: #333;
        width: 400px;
        height:auto;
        border: solid lightgrey;
        border-width: 2px;
        padding: 10px;
        text-align: left;
    }
    .description-page{
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    userbar{
        position:absolute;
        font-family: 'Cabin';
        font-size: 22px;
        top: 150px;
        left:60px;
        color: #fff;
    }



    #lobbyClose{
        position:absolute;
        font-family: 'Cabin';
        font-size: 44px;
        left:50px;
        bottom:50px;
        float:bottom;
        color: #fff;
     }
    #lobbyLeave{
        position:absolute;
        font-family: 'Cabin';
        font-size: 44px;
        left:50px;
        bottom:50px;
        float:bottom;
        color: #fff;
    }


    main {
        position: center;
        height: 200px;
        text-align: center;
    }

    .error {
        margin-top: 20px;
        color: red;
        font-family: 'Cabin';
        font-size: 30px;
    }

    #numGuess{
        margin-top: 20px;
        padding-top: 0px;
        width: 50px;
        height: 50px;
        border: none; /* <-- This thing here */
        border:solid 3px #ccc;
        border-radius: 10px;
        font-size:40pt;s: 10px;
        float:right;
    }

    h1 { color: #fff; font-family: 'Trocchi', serif; font-size: 38px; font-weight: normal; line-height: 40px; margin: 0; color: #fff;}
    h2 { color: #fff;; font-family: 'Arial Rounded MT Bold', sans-serif; font-size: 28px; font-weight: 400; line-height: 32px; margin: 0 0 8px; color: #fff;}
    h3 { color: #fff; font-family: 'Arial Rounded MT Bold', sans-serif; font-size: 22px; font-weight: 400; line-height: 24px; margin: 0 0 8px; color: #fff;}


    button {
        font-family: 'Cabin';
        background-color: #333; /* Green */
        color: #fff;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        border: 2px solid #333;
        border-radius: 12px;
    }
    button:hover {
        font-family: 'Cabin';
        background-color: #fff;
        color: black;
    }

    #messageForm{
        width: 100px;
        margin: auto;
    }


    /* necessary to give position: relative to parent. */
    input[type="text"]{font: 15px/24px 'cabin', sans-serif; color: #333; width: 20%; font-weight: bold; box-sizing: border-box; letter-spacing: 1px;}
    input[type="password"]{font: 15px/24px 'cabin', Arial, sans-serif; color: #333; width: 20%; font-weight: bold; box-sizing: border-box; letter-spacing: 1px;}

    .effect-1 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #4caf50; transition: 0.4s;}
    .effect-1:focus ~ .focus-border{width: 20%; transition: 0.4s;}
    /* Styles */

    #viewResult{
        display:block;
        text-align: center;
        margin: auto;
        margin-bottom: 50px;
    }

    #resultButton{
        width:100px;
        position: center;
        display:block;
        height:auto;
        margin: auto;
    }

    #gamePoint-area{
        width: 120px;
        height:auto;
        margin-left: auto;
        margin-right: auto;
    }

    #gamePoint-box{
        box-sizing: content-box;
        display: inline-block;
        margin: auto;
        height:auto;
        background-color: #333;
        width: 120px;
        border: solid lightgrey;
        border-width: 2px;
        padding: 4px;
        text-align: center;
    }

    #res-name{
        width:auto;
        float: left;
        text-align: left;
    }
    #res-points{
        float:right;
        text-align: right;
    }


    #res-wineDescription{
        float:left;
        text-align: left;
        width: 580px;
    }

    #res-wineName{
        margin-right: 100px;
        float:left
    }

    #p-result{
        float:right;
        text-align: left;
    }


    #res-winePicture{
        float:left;
        width: 100px;
        height: 150px;
        padding-right: 10px;
    }


    #resultData-area{
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
    }

    #resultData-box{
        box-sizing: content-box;
        display: inline-block;
        margin: auto;
        height:auto;
        background-color: #333;
        width: 800px;
        border: solid lightgrey;
        border-width: 2px;
        padding: 4px;
        text-align: center;
    }

    #board-wineDescription{
        float:left;
        text-align: left;
        width: 400px;
    }

    .select-css {
        margin:auto;
        width:300px;
        display: block;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 700;
        color: #444;
        line-height: 1.3;
        padding: .6em 1.4em .5em .8em;
        width: 20%;
        max-width: 100%;
        box-sizing: border-box;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
        border-radius: .5em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
    }
    .select-css::-ms-expand {
        display: none;
    }
    .select-css:hover {
        border-color: #888;
    }
    .select-css:focus {
        border-color: #aaa;
        box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: #222;
        outline: none;
    }
    .select-css option {
        font-weight:normal;
    }

    .toggle{
        margin-top: 20px;
        --uiToggleSize: var(--toggleSize, 20px);
        --uiToggleIndent: var(--toggleIndent, .4em);
        --uiToggleBorderWidth: var(--toggleBorderWidth, 2px);
        --uiToggleColor: var(--toggleColor, #000);
        --uiToggleDisabledColor: var(--toggleDisabledColor, #868e96);
        --uiToggleBgColor: var(--toggleBgColor, #fff);
        --uiToggleArrowWidth: var(--toggleArrowWidth, 2px);
        --uiToggleArrowColor: var(--toggleArrowColor, #fff);

        display: inline-block;
        position: relative;
    }


    .toggle__input{
        position: absolute;
        left: -99999px;
    }

    .toggle__label{
        display: inline-flex;
        cursor: pointer;
        min-height: var(--uiToggleSize);
        padding-left: calc(var(--uiToggleSize) + var(--uiToggleIndent));
    }

    .toggle__label:before, .toggle__label:after{
        content: "";
        box-sizing: border-box;
        width: 1em;
        height: 1em;
        font-size: var(--uiToggleSize);

        position: absolute;
        left: 0;
        top: 0;
    }

    .toggle__label:before{
        border: var(--uiToggleBorderWidth) solid var(--uiToggleColor);
        z-index: 2;
    }

    .toggle__input:disabled ~ .toggle__label:before{
        border-color: var(--uiToggleDisabledColor);
    }

    .toggle__input:focus ~ .toggle__label:before{
        box-shadow: 0 0 0 2px var(--uiToggleBgColor), 0 0 0px 4px var(--uiToggleColor);
    }

    .toggle__input:not(:disabled):checked:focus ~ .toggle__label:after{
        box-shadow: 0 0 0 2px var(--uiToggleBgColor), 0 0 0px 4px var(--uiToggleColor);
    }

    .toggle__input:not(:disabled) ~ .toggle__label:after{
        background-color: var(--uiToggleColor);
        opacity: 0;
    }

    .toggle__input:not(:disabled):checked ~ .toggle__label:after{
        opacity: 1;
    }

    .toggle__text{
        margin-top: auto;
        margin-bottom: auto;
    }

    /*
    The arrow size and position depends from sizes of square because I needed an arrow correct positioning from the top left corner of the element toggle
    */

    .toggle__text:before{
        content: "";
        box-sizing: border-box;
        width: 0;
        height: 0;
        font-size: var(--uiToggleSize);

        border-left-width: 0;
        border-bottom-width: 0;
        border-left-style: solid;
        border-bottom-style: solid;
        border-color: var(--uiToggleArrowColor);

        position: absolute;
        top: .5428em;
        left: .2em;
        z-index: 3;

        transform-origin: left top;
        transform: rotate(-40deg) skew(10deg);
    }

    .toggle__input:not(:disabled):checked ~ .toggle__label .toggle__text:before {
        width: .5em;
        height: .25em;
        border-left-width: var(--uiToggleArrowWidth);
        border-bottom-width: var(--uiToggleArrowWidth);
        will-change: width, height;
        transition: width .1s ease-out .2s, height .2s ease-out;

    }

    #mid-button{
        width: 1000px;
        padding-top: 100px;
        text-align:center;
        margin: auto;
    }

    #bot{
        margin: auto;
    }

    /*
    =====
    LEVEL 2. PRESENTATION STYLES
    =====
    */

    /*
    The demo skin
    */

    .toggle__label:before, .toggle__label:after{
        border-radius: 2px;
    }

    /*
    The animation of switching states
    */

    .toggle__input:not(:disabled) ~ .toggle__label:before,
    .toggle__input:not(:disabled) ~ .toggle__label:after{
        opacity: 1;
        transform-origin: center center;
        will-change: transform;
        transition: transform .2s ease-out;
    }

    .toggle__input:not(:disabled) ~ .toggle__label:before{
        transform: rotateY(0deg);
        transition-delay: .2s;
    }

    .toggle__input:not(:disabled) ~ .toggle__label:after{
        transform: rotateY(90deg);
    }

    .toggle__input:not(:disabled):checked ~ .toggle__label:before{
        transform: rotateY(-90deg);
        transition-delay: 0s;
    }

    .toggle__input:not(:disabled):checked ~ .toggle__label:after{
        transform: rotateY(0deg);
        transition-delay: .2s;
    }

    .toggle__text:before{
        opacity: 0;
    }

    .toggle__input:not(:disabled):checked ~ .toggle__label .toggle__text:before{
        opacity: 1;
        transition: opacity .1s ease-out .3s, width .1s ease-out .5s, height .2s ease-out .3s;
    }

    /*
    =====
    LEVEL 3. SETTINGS
    =====
    */

    .toggle{
        --toggleColor: #5A7DD0;
        --toggleBgColor: #5A7DD0;
        --toggleSize: 50px;
    }

    #correct-region-guess{
        color:forestgreen;
    }

    #wrong-region-guess{
        color:red;
    }

    #region-result{
        margin-bottom: 15px;
        float:left;
    }

    /* A link that has not been visited */
    a:link {
        color: #7f1a1a;
    }

    /* A link that has been visited */
    a:visited {
        color: #7f1a1a;
    }

    /* A link that is hovered on */
    a:hover {
        color: #7f1a1a;
    }

    /* A link that is selected */
    a:active {
        color: #7f1a1a;
    }


}






